@{
	Layout = "_LayoutClient";
	ViewData["Title"] = "Dashboard";
}

@model Freelancing.Models.AddProject

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-21">
		<div class="mb-4">
			<h4 class="text-2xl text-dark font-medium">
				Hello, @User.FindFirst("FullName")?.Value
			</h4>
		</div>

		<div class="w-full p-4 mb-4 text-left bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
			<h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Total Posted Projects</h5>
			<div class="flex items-center justify-between">
				<h5 id="totalPostedProject" class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">@ViewBag.TotalProjects</h5>
				<a asp-controller="Client" asp-action="Post" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
					Post Project
				</a>
			</div>
		</div>

		<div class="grid grid-cols-2 gap-4 mb-4">

			<div class="w-full max-w p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
				<div class="flex items-center justify-between mb-4">
					<h5 class="text-xl font-bold leading-none text-gray-900">Biddings Received</h5>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						@foreach (var project in Model.Projects)
						{
							<li class="py-3 sm:py-4">
								<div class="flex items-center">
									<div class="flex-1 min-w-0">
										<p class="text-sm font-medium text-gray-900 truncate">
											@project.ProjectName
										</p>
									</div>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>

			<div class="w-full max-w p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
				<div class="flex items-center justify-between mb-4">
					<h5 class="text-xl font-bold leading-none text-gray-900">Manage Postings</h5>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						@foreach (var project in Model.Projects)
						{
							<li class="py-3 sm:py-4">
								<div class="flex items-center">
									<div class="flex-1 min-w-0">
										<p class="text-sm font-medium text-gray-900 truncate">
											@project.ProjectName
										</p>
									</div>
									<div class="inline-flex items-center text-base font-semibold text-gray-900">
										<a class="btn btn-primary" asp-controller="Client" asp-action="EditPost" asp-route-id="@project.Id"> Edit </a>
									</div>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

