@{
	Layout = "_LayoutClient";
	ViewData["Title"] = "Manage Biddings";
}

@model Freelancing.Models.Entities.Project

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-20">
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">@Model.ProjectName</h2>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Category:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">@Model.Category</span>
				</div>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Budget:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">₱@Model.Budget</span>
				</div>
				<h5 class="mt-6 text-xl font-bold tracking-tight text-gray-900 mr-2">Project Description:</h5>
				<h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900">@Model.ProjectDescription</h5>
			</div>
		</div>
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">Biddings</h2>
				@if (Model.AcceptedBid != null)
				{
					var bid = Model.AcceptedBid;
					<div class="mb-5 p-6 border border-gray-200 rounded-lg shadow-sm">
						<h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">@bid.User?.FirstName @bid.User?.LastName</h5>
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Budget Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">₱@bid.Budget</span>
						</div>
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Delivery Time Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">@bid.Delivery</span>
						</div>
						<p class="text-md font-light tracking-tight text-gray-900 mr-2">@bid.Proposal</p>
						<img class="mt-2 w-auto h-8" src="https://ik.imagekit.io/6txj3mofs/accept.png?updatedAt=1750270981334" />
					</div>
				}
				else
				{
					@foreach (var bid in Model.Biddings)
					{
						<div class="mb-5 p-6 border border-gray-200 rounded-lg shadow-sm">
							<h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">@bid.User?.FirstName @bid.User?.LastName</h5>
							<div class="flex items-center mb-2">
								<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Budget Proposal:</h5>
								<span class="ms-2 text-md font-light tracking-tight text-gray-900">₱@bid.Budget</span>
							</div>
							<div class="flex items-center mb-2">
								<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Delivery Time Proposal:</h5>
								<span class="ms-2 text-md font-light tracking-tight text-gray-900">@bid.Delivery</span>
							</div>
							<p class="text-md font-light tracking-tight text-gray-900 mr-2">@bid.Proposal</p>
							<form asp-controller="Client" asp-action="AcceptBid" method="post" class="mt-3">
								<input type="hidden" name="projectId" value="@Model.Id" />
								<input type="hidden" name="bidId" value="@bid.Id" />
								<button type="button" data-modal-target="acceptBid" data-modal-toggle="acceptBid" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2">
									Accept
								</button>
							</form>
							<div id="acceptBid" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative p-4 w-full max-w-md max-h-full">
									<div class="relative bg-white rounded-lg shadow">

										<button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="acceptBid">
											<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
											</svg>
											<span class="sr-only">Close modal</span>
										</button>

										<div class="p-6 text-center">
											<svg class="mx-auto mb-4 text-gray-500 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
											</svg>
											<h3 class="mb-5 text-lg font-normal text-gray-800">Are you sure you want to accept @bid.User?.FirstName @bid.User?.LastName's bid?</h3>

											<button type="button" onclick="acceptBid()" data-modal-hide="confirm-modal"
													class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
												Yes, I'm sure
											</button>
											<button type="button" data-modal-hide="acceptBid"
													class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
												No, cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					}
				}
			</div>
		</div>
	</div>
</div>