@{
	Layout = "_LayoutClient";
	ViewData["Title"] = "Project Details";
}

@model Freelancing.Models.Entities.Project

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-20">
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">@Model.ProjectName</h2>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Category:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">@Model.Category</span>
				</div>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Budget:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">₱@Model.Budget</span>
				</div>
				<h5 class="mt-6 text-xl font-bold tracking-tight text-gray-900 mr-2">Project Description:</h5>
				<h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900">@Model.ProjectDescription</h5>
			</div>
		</div>
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">Biddings</h2>
				@foreach (var bid in Model.Biddings)
				{
					<div class="mb-5 p-6 border border-gray-200 rounded-lg shadow-sm">
						<div class="flex items-center mb-3">
							@if (!string.IsNullOrEmpty(bid.User.Photo))
							{
								<img class="w-8 h-8 rounded-full" src="@bid.User.Photo" alt="user photo">
							}
							else
							{
								<img class="w-8 h-8 rounded-full" src="https://ik.imagekit.io/6txj3mofs/GIGHub%20(11).png?updatedAt=1750552804497" alt="user photo">
							}
							<h5 class="ms-2 text-xl font-bold tracking-tight text-gray-900">@bid.User?.FirstName @bid.User?.LastName</h5>
						</div>
						<hr class="border-gray-300 mb-4">
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Budget Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">₱@bid.Budget</span>
						</div>
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Delivery Time Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">@bid.Delivery</span>
						</div>
						<p class="text-md font-light tracking-tight text-gray-900 mr-2">@bid.Proposal</p>
					</div>
				}
			</div>
		</div>
	</div>
</div>