@{
	Layout = "_LayoutFreelancer";
	ViewData["Title"] = "Project Details";
}

@model Freelancing.Models.Entities.Project

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-21">
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">@Model.ProjectName</h2>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Category:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">@Model.Category</span>
				</div>
				<div class="flex items-center mb-2">
					<h5 class="text-xl font-bold tracking-tight text-gray-900 mr-2">Budget:</h5>
					<span class="ms-2 text-xl font-light tracking-tight text-gray-900">₱@Model.Budget</span>
				</div>
				<h5 class="mt-6 text-xl font-bold tracking-tight text-gray-900 mr-2">Project Description:</h5>
				<h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900">@Model.ProjectDescription</h5>
			</div>
		</div>
		<div class="mt-4">
			<div class="block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">Biddings</h2>
				@foreach (var bid in Model.Biddings)
				{
					<div class="mb-5 p-6 border border-gray-200 rounded-lg shadow-sm">
						<h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">@bid.User?.FirstName @bid.User?.LastName</h5>
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Budget Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">₱@bid.Budget</span>
						</div>
						<div class="flex items-center mb-2">
							<h5 class="text-md font-bold tracking-tight text-gray-900 mr-2">Delivery Time Proposal:</h5>
							<span class="ms-2 text-md font-light tracking-tight text-gray-900">@bid.Delivery</span>
						</div>
						<p class="text-md font-light tracking-tight text-gray-900 mr-2">@bid.Proposal</p>
					</div>
				}
				@if (Model.AcceptedBidId != null)
				{
					<div class="p-4 bg-gray-200 text-center rounded">
						<span class="text-lg font-bold text-red-600">Project Closed</span>
					</div>
				}
				else
				{@if (TempData["BidError"] != null)
					{
						<div class="mb-4 text-red-600 font-semibold">
							@TempData["BidError"]
						</div>
					}
					<a asp-controller="Freelancer" asp-action="Bid" asp-route-id="@Model.Id" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add Bidding</a>
				}
			</div>
		</div>
	</div>
</div>